$light: #f2f2f2;
$dark: #2e2624;
$main: #f46262;
@import './maskHoverAnimation.scss';
@font-face {
  font-family: 'GenSekiGothic-H';
  font-style: normal;
  src: local('GenSekiGothic-H'),
    url('./fonts/GenSekiGothic-H.ttc') format('truetype');
}
@font-face {
  font-family: 'GenSekiGothic-L';
  font-style: normal;
  src: local('GenSekiGothic-L'),
    url('./fonts/GenSekiGothic-L.ttc') format('truetype');
}
@mixin L {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: -85px;
  height: 128px;
}
@mixin R {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: -27px;
  height: 128px;
}
* {
  color: $dark;
}
.mainpage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .mainContainer {
    width: 1288px;
    height: 0px;
    border: 2px solid $dark;
    border-style: none solid;
    > div {
      margin-left: 60px;
    }
    .info {
      display: flex;
      align-items: end;
      margin-top: 19px;
      .photo {
        width: 185px;
        height: 228px;
      }

      .name {
        height: 104px;
        width: 276px;
        margin-left: 20px;
        padding-bottom: 5px;
        .nameCh {
          height: 42px;
          font-family: 'GenSekiGothic-H';
          font-size: 42px;
          display: flex;
          align-items: flex-end;
        }
        .nameEn {
          height: 62px;
          width: 276px;
          font-family: 'M PLUS 1p';
          font-size: 42px;
          font-weight: 100;
          display: flex;
          align-items: flex-end;
        }
      }
    }

    .introBlock {
      height: 134px;
      display: flex;
      align-items: center;
      margin-top: 15px;
      position: relative;
      .introL {
        @include L;
      }
      .introduction {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 620px;
        height: 104px;
        font-size: 20px;
      }
      .introR {
        @include R;
      }
    }

    .dwBlock {
      height: 141px;
      display: flex;
      margin-top: 30px;
      position: relative;
      .dwL {
        @include L;
      }
      .gdw {
        position: relative;
        @include mask;
      }
      .mdw {
        margin-left: 30px;
        position: relative;
        @include mask;
      }
      .dwR {
        @include R;
      }
    }

    .mailBlock {
      margin-top: 30px;
      height: 140px;
      display: flex;
      align-items: center;
      position: relative;
      .mailL {
        @include L;
      }
      .mail {
        width: 76px;
        height: 65px;
        position: relative;
        @include mask;
        .hoverAnimation {
          transition: 0.2s;
        }
      }
      .mailR {
        @include R;
      }
    }
  }

  .come {
    animation: comeIn 1s;
    // animation: fadeIn 0.2s;
  }

  @keyframes comeIn {
    from {
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
